/* NEED TODO:   MOBILE FIRST!    Set up media query for responsive design, checkout how bootstrap does it 
 * NEED TODO:   GRILLED CHEESE MENU FOR SCREEN UP TO MEDIUM
 *
 *
*/

body {
  background: #fff;
  color: #222;
  cursor: auto;
  font-family: Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative; }

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

nav, footer {
	height: auto;
	background-color: black;
	color: white;
	z-index: 100;
}

nav {
	position: fixed;
}

nav li {
	list-style-type: none;
	width: 10rem;
	padding: 1.5rem;
	font-weight: bold;

/* FIGURE OUT HOW TO GRID THIS ============================== */
	float: left;
}
footer li {
	padding-top: 1.5rem;
	list-style-type: none;
	width: 10rem;
	padding: 1.5rem;
	font-weight: bold;
	float: left;
}

footer li:nth-child(1) {
	width: 13rem;
}

p {
	max-width: 80%;
}

/* HERO SECTION */
/* ALMOST FULLY RESPONSIVE */
.hero-color-block {
	margin: auto;
	padding: 0;
	width: 100%;
	height: 30rem;
	background-color: #505C9B;
}

.hero-box-large {
	margin-top: 12rem;
	text-align: center;
	color: #F1F1F2;
}


.inline {
	display: inline-block;
}

.summary {
	padding-left: 3rem; 
}

.image-profile {
	margin-right: 10px;
}
.contact-links {
	margin-top: 5rem;
}

.short-version {
	margin-right: 10px;
	margin-left: 5px;
}

.top-buffer-4 {
	margin-top: 4rem;
}
.top-buffer-8 {
	margin-top: 8rem;
}

.bottom-buffer-4 {
	margin-bottom: 4rem;
}

.icon-facebook-official {
	margin-left: 5rem;
}
.icon-twitter {
	margin-left: 3rem;
}

.image-girl {
	margin-top: 30px;
}

/* PAGE DECORATION */
.pretty-divider {
	margin-top: 4rem;
	margin-bottom: 4rem;
	background-color: grey;
	height: .1rem;
}

.book-quote {
	padding-right: 5rem;
	padding-left: 5rem;

}

/* LINKS */
nav a, footer a {
	color: white;
}
.my-button {
	background-color: red;
}
a:hover .my-button {
	/*background-color: */
}



@media screen and (max-width:500px) { 
	.box {
		width: 80%;
		margin: 5px;
	}
}

@media screen and (min-width:501px) { 
	.box {
		width: 30%; 
		margin: 10px;
	}
}

@media screen and (min-width:800px) {
	.box {
		width: 25%;
		margin: 20px;
	}
}

