/*------------------------------------*\
    #TYPOGRAPHY     Georgia     Serif 
    roboto     raleway     droid serif   serif

    keep his rem conversion, since it is quick to know how many pixels will be used in main setup

    <script src="https://use.fonticons.com/6f4f57ed.js"></script>   FONTICONS 
\*------------------------------------*/






$body-type:       "Source Sans Pro", sans-serif;
$headline-type:   "Source Sans Pro", sans-serif;

$headline-color:  col("primary");
$body-color:      col("mid-gray");
$link-color:      col("primary");
$link-hover:      darken($link-color, 10%);

/**
 * NOTE
 * html is set to 62.5% so that all the REM measurements
 * are based on 10px sizing. So 1.5rem = 15px
 *
 */

html {
  font-size: 62.5%;
}
body {
  @include font-size(1.6);
  line-height: 1.6;
  font-weight: 400;
  font-family: $body-type;
  color: $body-color;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 400;
  font-family: $headline-type;
}

h1 { @include font-size(4.5); line-height: 1.2;  letter-spacing: -.1rem;  font-weight: 600; }
h2 { @include font-size(3.2); line-height: 1.25; letter-spacing: -.1rem;  font-weight: 400; }
h3 { @include font-size(2.4); line-height: 1.3;  letter-spacing: -.1rem;  font-weight: 600; }
h4 { @include font-size(2.0); line-height: 1.25; letter-spacing: -.08rem; }
h5 { @include font-size(1.8); line-height: 1.5;  letter-spacing: -.05rem; }
h6 { @include font-size(1.5); line-height: 1.6;  letter-spacing: 0; }

h1 { color: col("primary");   }
h2 { color: col("secondary")  }
h3 { color: col("tertiary");  }
h4 { color: col("secondary"); }
h5 { color: col("secondary"); }
h6 { color: col("mid-gray"); text-transform:uppercase; }


p { margin-top: 0; }

a { color: $link-color; }
a:hover { color: $link-hover; }


hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid col("border-gray");
}
